<template>
  <div class="stack-panel vertical">
    <h2>Add new session</h2>

    <!-- Session name -->
    <div class="div-session-name">
      <b-form-input type="text" v-model="sessionName" placeholder="Insert session name here" />
    </div>

    <!-- Window items -->
    <div class="div-window-items">
      <div class="div-indvl-window" v-for="(window, windowIndex) in windows" v-bind:key="window.id">
        <h4>{{ 'Window ' + (windowIndex + 1) }}</h4>
        <span v-for="tab in window.tabs" :key="tab.id">
          <b-form-checkbox v-model="selectedTabs" v-bind:value="`${window.id},${tab.id}`">
            <span class="flex-vertical-center" v-b-tooltip.hover.right="tab.url">
              <img v-bind:src="tab.favIconUrl" width="20" height="20" style="margin-right: 5px;" />
              {{ tab.title }}
            </span>
          </b-form-checkbox>
        </span>
      </div>
    </div>

    <!-- Selection -->
    <div class="div-selection">
      <b-form-radio-group v-model="action" buttons button-variant="outline-primary">
        <b-form-radio v-model="action" name="some-radios" value="close_all">Close all tabs</b-form-radio>
        <b-form-radio v-model="action" name="some-radios" value="close_selected">Close only selected tabs</b-form-radio>
        <b-form-radio v-model="action" name="some-radios" value="none">None</b-form-radio>
      </b-form-radio-group>
    </div>

    <!-- Buttons -->
    <div class="div-buttons">
      <label v-if="error_message != ''" class="error-message">{{ error_message }}</label>
      <label v-if="success_message != ''" class="success-message">{{ success_message }}</label>
      <b-button variant="success" @click.stop="submit()">Save</b-button>
    </div>
  </div>
</template>

<script>
import { ChromeTabService, Sessions, ChromeMessageListener } from './../imports';

const NO_TAB_SELECTED_ERROR = 'At least one tab should be selected';
const SESSION_NAME_EMPTY_ERROR = 'Session name cannot be empty';

export default {
  data() {
    return {
      sessionName: '',
      windows: [],
      action: 'close_selected',
      error_message: '',
      success_message: '',
      selectedTabs: [],
    };
  },
  created() {
    this.updateWindows();
    ChromeMessageListener.on('updateList', () => {
      this.updateWindows();
    });
  },
  mounted() {
    this.updateWindows();
  },
  methods: {
    updateWindows() {
      ChromeTabService.getAllWindows(true, true).then(windows => {
        this.windows = windows;
      });
    },
    /**
     * Selected tabs to save to session
     */
    convertSelectedTabs() {
      var tabs = {};

      for (let checkedItem of this.selectedTabs) {
        var idsArr = checkedItem.split(',');
        if (idsArr.length !== 2) {
          console.log('Not valid format');
          this.error_message = 'something went wrong';
          return;
        }

        var winId = this.$_.parseInt(idsArr[0]);
        var tabId = this.$_.parseInt(idsArr[1]);

        if (!tabs[winId]) {
          tabs[winId] = [];
        }

        if (tabs[winId].includes(tabId)) {
          tabs[winId] = this.$_.remove(tabs[winId], item => item === tabId);
        } else {
          tabs[winId].push(tabId);
        }
      }

      return tabs;
    },
    uiError(message) {
      this.error_message = message;
      this.success_message = '';
    },
    uiSuccess(message) {
      this.error_message = '';
      this.success_message = message;
    },
    /**
     * Submits new session
     */
    async submit() {
      // check that sessionName is not empty and is valid (regex?)
      if (!this.sessionName || this.sessionName === '') {
        this.error_message = SESSION_NAME_EMPTY_ERROR;
      }
      // check that at least one checkbox is selected
      if (this.selectedTabs.length === 0) {
        this.error_message = NO_TAB_SELECTED_ERROR;
      }

      var tabs = this.convertSelectedTabs();

      if (!(await Sessions.save(this.sessionName, tabs))) {
        console.log("couldn't save");
        this.uiError("Couldn't save session");
        return;
      }
      this.uiSuccess('Saved!');

      if (this.action === 'close_selected') {
        ChromeTabService.closeTabs(this.$_.map(tabs));
      } else if (this.action === 'close_all') {
        ChromeTabService.closeAllTabs();
      }
    },
  },
};
</script>

<style lang="scss" scoped>
input {
  width: 100%;
}

@mixin div {
  margin: 15px;
}

.div-session-name {
  @include div;
}

.div-window-items {
  @include div;
}

.div-indvl-window {
  margin-bottom: 20px;
}

.div-selection {
  @include div;
}

.div-buttons {
  @include div;

  display: flex;
  justify-content: flex-end;
  align-items: baseline;
}

.error-message {
  color: red;
  width: 100%;
}

.success-message {
  color: green;
  width: 100%;
}

.flex-vertical-center {
  display: flex;
  align-items: center;
}

.bold-text {
  font-weight: 600;
}

.stack-panel {
  display: flex;
  width: 100%;

  &.horizontal {
    flex-direction: row;
  }

  &.vertical {
    flex-direction: column;
  }
}
</style>
