<template>
  <div>
    <link id="themeLink" rel="stylesheet" href="themes/light_theme.css" />
    <router-view></router-view>
  </div>
</template>

<script>
import { ThemeController } from './router/imports';
export default {
  created() {
    ThemeController.init();
  },
  data() {
    return {};
  },
};
</script>

<!-- Project level styles -->
<style lang="scss">
$fontSizeBase: 12px;

.stack-panel {
  display: flex !important;
  width: 100%;

  &.horizontal {
    flex-direction: row;
  }

  &.vertical {
    flex-direction: column;
  }
}

.btn {
  border: 1px solid transparent;
  border-radius: 10px;
  outline: none;

  &:hover {
    border-color: rgba(0, 93, 133, 1);
  }
}

.fontsize-default {
  font-size: $fontSizeBase;
}

.no-hover {
  &:hover {
    border-color: transparent;
    background-color: inherit;
  }
}
</style>
