<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" href="popup.css">
  <% if (NODE_ENV === 'development') { %>
  <!-- Load some resources only in development environment -->
  <% } %>

  <style>
  body{
      width: 400px;
      min-height: 300px;
      max-height: 500px;
    }
  </style>
</head>
<body>
  <div id="app">

  </div>
  <script src="popup.js"></script>
</body>
</html>
