$primary_color: #ff715b;
$secondary_color: #101010;

// $background_gradient: radial-gradient( circle farthest-corner at 10% 20%,  rgba(0,93,133,1) 0%, rgba(0,181,149,1) 90% );
// $background_gradient: linear-gradient(86deg, rgba(255,113,91,1) 0%, rgba(255,186,91,1) 100%);
$background_gradient: linear-gradient(86deg, rgba(198,220,119,1) 0%, rgba(80,186,180,1) 100%);
$background_middle_ground_color: #7cca94;