<template>
  <div class="stack-panel vertical">
    <div class="stack-panel horizontal align-items-center">
      <SearchBox class="flex-grow-1" v-bind:onTextChanged="onSearchTextChanged" />
      <b-dropdown class="menu-dropdown" size="sm" boundary="viewport" variant="default" toggle-class="no-hover" no-caret lazy>
        <template v-slot:button-content>
          <b-icon icon="gear-wide-connected"></b-icon>
        </template>
        <b-dropdown-text>
          <span class="stack-panel horizontal">
            <label class="flex-grow-1" style="margin-right: 10px;">Dark Theme</label>
            <b-form-checkbox v-model="darkThemeChecked" name="theme-toggle" switch />
          </span>
        </b-dropdown-text>
      </b-dropdown>
    </div>

    <!-- Main views -->
    <b-tabs content-class="mt-1" fill class="tabs-section" card small>
      <!-- Tabs view -->
      <b-tab title="Tabs" class="tab">
        <!-- Domains/Windows buttons -->
        <b-button-toolbar class="mb-2">
          <b-button-group size="sm" style="margin-left: auto;">
            <b-button variant="outline-secondary" :pressed="!isWindowsViewSelected" @click.stop="selectTabsView()" v-b-tooltip.hover.ds500 title="Show Domains">
              <b-icon icon="card-list"></b-icon>
            </b-button>
            <b-button variant="outline-secondary" :pressed="isWindowsViewSelected" @click.stop="selectWindowsView()" v-b-tooltip.hover.ds500 title="Show Windows">
              <b-icon icon="window"></b-icon>
            </b-button>
          </b-button-group>
        </b-button-toolbar>

        <TabsView v-show="!isWindowsViewSelected" v-bind:searchText="searchText" />
        <WindowsView v-show="isWindowsViewSelected" v-bind:searchText="searchText" />
      </b-tab>

      <!-- Sessions view -->
      <b-tab title="Sessions" class="tab" lazy>
        <SessionsView />
      </b-tab>
    </b-tabs>

    <b-alert :show="showFeatureAlert" variant="warning" class="alert-bottom" dismissible @dismissed="dismissFeatureAlert()">
      <span>New version detected - <b-link :href="websiteUrl" target="_blank">Release notes</b-link></span>
    </b-alert>
  </div>
</template>

<script>
import { SearchBox, SessionsView, TabsView, WindowsView, ChromeStorageService, ChromeExtensionService, ThemeController, Constants } from './../imports';

const FEATURE_ALERT_KEY = 'FEATURE_ALERT_KEY';

export default {
  components: {
    SearchBox,
    SessionsView,
    TabsView,
    WindowsView,
  },
  data() {
    return {
      selectedView: 'tabs',
      searchText: '',
      showFeatureAlert: false,
      darkThemeChecked: false,
      isWindowsViewSelected: false,
      websiteUrl: 'http://omegatabmanager.com/releasenotes',
    };
  },
  async mounted() {
    this.showFeatureAlert = await _shouldShowFeatureAlert();
    this.darkThemeChecked = ThemeController.isDarkTheme();
  },
  methods: {
    onSearchTextChanged(text) {
      this.searchText = text;
    },
    dismissFeatureAlert() {
      this.showFeatureAlert = false;
      _dontShowFeatureAlert();
    },
    isDarkTheme() {
      return ThemeController.isDarkTheme();
    },
    selectTabsView() {
      this.isWindowsViewSelected = false;
    },
    selectWindowsView() {
      this.isWindowsViewSelected = true;
    },
  },
  watch: {
    darkThemeChecked(newValue, ooldValue) {
      ThemeController.setTheme(newValue ? Constants.DARK_THEME : Constants.LIGHT_THEME);
    },
  },
};

async function _shouldShowFeatureAlert() {
  let storedVersion = await ChromeStorageService.get(FEATURE_ALERT_KEY);
  if (!storedVersion) {
    return true;
  }

  let version = ChromeExtensionService.getVersion();
  return storedVersion !== version;
}

function _dontShowFeatureAlert() {
  ChromeStorageService.set(FEATURE_ALERT_KEY, ChromeExtensionService.getVersion());
}
</script>

<style lang="scss" scoped>
.views {
  margin-top: 10px;
}

.tab {
  outline: none;
}

.alert-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0;
}

.menu-dropdown {
  margin-right: 5px;
}
</style>
