<template>
  <!-- if src location changed, change in webpack file copy plugin as well -->
  <img v-bind:src="`./../images/${icon}.svg`" v-bind:width="`${size}`" v-bind:height="`${size}`" v-on:click="onItemClick" v-bind:class="containerClass" />
</template>

<script>
export default {
  name: 'Icon',
  props: {
    icon: {
      type: String,
      required: true,
    },
    containerClass: {
      type: String,
      required: false,
    },
    size: {
      type: String,
      required: false,
      default: '50',
    },
    onItemClick: {
      type: Function,
      required: false,
      default: () => null,
    },
  },
  data() {
    return {};
  },
};
</script>
