<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Options - Omega Tab Manager</title>
  <link rel="stylesheet" href="options.css">
  <% if (NODE_ENV === 'development') { %>
  <!-- Load some resources only in development environment -->
  <% } %>
</head>
<body>
  <style>
    html{
      display: flex;
      justify-content: center;
    }

    body{
      margin-top: 40px;
      width: 70vw;
      max-width: 500px;
    }
    </style>
  <div id="options">
  </div>
  <script src="options.js"></script>
</body>
</html>
