<template>
  <span v-if="showItem">
    <b-card no-body class="mb-1">
      <b-card-header header-tag="header" class="p-1" role="tab">
        <b-button block href="#" variant="default" @click="toggleCollapsableView()" class="header-button">
          <span class="accordion-header">
            <span class="d-flex align-content-center" style="flex-basis: 25px;">
              <img v-bind:src="filteredItem.icon" width="18" height="18" />
            </span>
            <span v-text="shortenText(filteredItem.name, defaultDomainTitleLen)" class="fontsize-default"></span>
            <span class="header-icons">
              <b-icon icon="music-note-beamed" v-if="soundOn" v-b-tooltip.hover.ds500 :title="soundOnHoverText"></b-icon>
              <b-dropdown size="sm" variant="link" toggle-class="text-decoration-none" boundary="viewport" no-caret lazy v-b-tooltip.hover.ds500 title="More options">
                <template v-slot:button-content>
                  <b-icon icon="three-dots"></b-icon>
                </template>
                <b-dropdown-item-button @click.stop="closeAll">Close All</b-dropdown-item-button>
              </b-dropdown>
              <b-badge v-text="numberOfTabs" variant="info" v-b-tooltip.hover.ds500 title="Total tabs"></b-badge>
              <b-icon :icon="toggleIcon"></b-icon>
            </span>
          </span>
        </b-button>
      </b-card-header>

      <b-collapse :id="filteredItem.id" v-model="isExpanded" :accordion="'accordion' + filteredItem.id" role="tabpanel">
        <b-card-body>
          <div v-for="tab in filteredItem.tabs" v-bind:key="tab.id" class="d-flex flex-row align-items-center tab-container" @click.stop="openTab(tab)">
            <span class="d-flex align-items-center" style="flex-basis: 25px;">
              <b-spinner v-if="tab.isLoading" variant="primary" label="Loading" small></b-spinner>
            </span>

            <span v-text="shortenText(tab.name, defaultTabTitleLen)" class="fontsize-default"></span>

            <span class="d-flex align-items-center justify-content-center" style="margin-left: auto;">
              <b-icon icon="music-note-beamed" v-if="tab.soundOn" font-scale="1" v-b-tooltip.hover.ds500 :title="soundOnHoverText"></b-icon>
              <b-button-close class="close-button" text-variant="danger" font-scale="1" @click.stop="closeTab(tab)" v-b-tooltip.hover.ds500 title="Close" />
            </span>
          </div>
        </b-card-body>
      </b-collapse>
    </b-card>
  </span>
</template>

<script>
import { ChromeTabService, Strings, Log } from '../imports';

const COMPONENT_NAME = 'DomainItem';

export default {
  name: 'DomainItem',
  props: ['item', 'search', 'isOpen'],
  mixins: [Strings],
  data() {
    return {
      defaultDomainTitleLen: 100,
      defaultTabTitleLen: 100,
      toggleIcon: 'chevron-down',
      showItem: true,
      filteredItem: {},
      soundOn: false,
      soundOnHoverText: 'Has sound on',
      numberOfTabs: 0,
      isExpanded: this.isOpen,
    };
  },
  mounted() {
    this.filteredItem = { ...this.item };
    for (let tab of this.filteredItem.tabs) {
      if (tab.soundOn) {
        this.soundOn = true;
        break;
      }
    }
    this.numberOfTabs = this.filteredItem.tabs.length;
  },
  methods: {
    closeTab(tab) {
      ChromeTabService.closeTab(tab.id);
    },
    toggleCollapsableView() {
      this.isExpanded = this.toggleIcon === 'chevron-down';
      this.$store.dispatch('updateOpenDomains', { name: this.item.name, isOpen: this.isExpanded });
      this.toggleIcon = this.isExpanded ? 'chevron-up' : 'chevron-down';
    },
    openTab(tab) {
      ChromeTabService.activateTab(tab);
    },
    closeAll() {
      Log.debug(COMPONENT_NAME, `Closing all tabs for ${this.item.name}`);
      ChromeTabService.closeTabs(this.$_.map(this.item.tabs, 'id'));
    },
    applySearch(text) {
      Log.debug(COMPONENT_NAME, `Applying search: ${text}`);
      if (!text || text === '') {
        this.filteredItem = { ...this.item };
        this.showItem = true;
        return;
      }

      if (this.item.name.toLowerCase().includes(text.toLowerCase())) {
        this.filteredItem = { ...this.item };
        this.showItem = true;
        return;
      }

      let filteredList = { ...this.item };
      filteredList.tabs = [];
      for (let tab of this.item.tabs) {
        if (tab.name.toLowerCase().includes(text.toLowerCase())) {
          filteredList.tabs.push(tab);
        }
      }

      if (filteredList.tabs.length === 0) {
        this.showItem = false;
      } else {
        this.filteredItem = filteredList;
        this.showItem = true;
      }
    },
  },
  watch: {
    search: function(text) {
      this.applySearch(text);
    },
  },
};
</script>

<style lang="scss" scoped>
@import './../../../common/styles/_colors.scss';

.thumbnail {
  display: flex;
  align-content: center;
  flex-basis: 25px;
}

.icons-group {
  display: flex;
  justify-content: flex-end;
  align-content: center;
  flex-basis: 40px;
}

.container {
  padding: 5px;
  margin: 2px;
  margin-bottom: 10px;

  border-radius: 10px;
  box-shadow: 4px 4px 5px -1px rgba(0, 0, 0, 0.33);

  width: auto;
  background-image: $background_gradient;

  .title {
    color: $secondary_color;
    font-size: 14px;
    flex-basis: auto;
    flex-grow: 1;
    user-select: none;
  }

  &:hover {
    cursor: default;
  }
}

.tab-container {
  margin: 5px;
  width: auto;

  &:first-child {
    margin-top: 10px;
  }

  &:hover {
    box-shadow: 0px 0px 5px 1px grey;
    cursor: default;
  }
}

.accordion-header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.close-button {
  font-family: 'Verdana', Geneva, sans-serif;
}

.header-button {
  &:focus {
    box-shadow: none;
  }

  &:hover {
    border-color: transparent;
  }
}

.header-icons {
  margin-left: auto;
  display: flex;
  align-items: center;

  & * {
    margin: 0 2px 0 2px;
  }
}
</style>
