<template>
  <span>
    <b-input-group size="sm" :prepend="placeholder">
      <b-form-input v-model="phrase"></b-form-input>
    </b-input-group>
  </span>
</template>

<script>
export default {
  name: 'SearchBox',
  props: ['onTextChanged'],
  data() {
    return {
      phrase: '',
      placeholder: 'Search',
    };
  },
  watch: {
    phrase: function(text) {
      this.onTextChanged(text.trim());
    },
  },
};
</script>

<style lang="scss" scoped>
span {
  display: flex;

  padding: 5px;
  margin: 2px;
}
</style>
