<template>
  <b-card no-body class="mb-1">
    <b-card-header header-tag="header" class="p-1" role="tab">
      <b-button block href="#" v-b-toggle="id" variant="info" size="sm" @click="toggleTabs()">
        <span class="accordion-header">
          <span v-text="item.name"></span>
          <b-icon :icon="toggleIcon" style="margin-left: auto;"></b-icon>
        </span>
      </b-button>
    </b-card-header>
    <b-collapse :id="id" :accordion="'accordion' + id" role="tabpanel">
      <b-card-body>
        <b-row class="d-flex flex-row justify-content-between mb-3">
          <b-button class="flex-grow-1 mr-1" variant="outline-success" size="sm" @click="load()">Load</b-button>
          <b-button class="flex-grow-1 ml-1" variant="outline-danger" size="sm" @click="remove()">Delete</b-button>
        </b-row>

        <div class="stack-panel vertical">
          <span class="stack-panel vertical window-container" v-for="(window, index) in item.windows" v-bind:key="index">
            <span class="window-title">{{ 'window ' + ++index }}</span>
            <span class="stack-panel horizontal tab-container" v-for="(tab, index) in window.tabs" v-bind:key="index">
              <span class="thumbnail">
                <img v-bind:src="tab.icon" width="18" height="18" />
              </span>
              <span class="title">{{ tab.title }}</span>
            </span>
          </span>
        </div>
      </b-card-body>
    </b-collapse>
  </b-card>
</template>

<script>
import { Sessions } from '../imports';

export default {
  name: 'SessionItem',
  props: ['item', 'search', 'reload'],
  data() {
    return {
      toggleIcon: 'chevron-down',
      id: '',
    };
  },
  mounted() {
    this.id = Math.floor(Math.random() * 1000000) + 1 + '';
  },
  methods: {
    toggleTabs() {
      this.toggleIcon = this.toggleIcon === 'chevron-down' ? 'chevron-up' : 'chevron-down';
    },
    load() {
      Sessions.load(this.item);
    },
    async remove() {
      await Sessions.removeAsync(this.item.name);
      this.reload();
    },
  },
};
</script>

<style lang="scss" scoped>
@import './../../../common/styles/_colors.scss';

.window-container {
  display: flex;

  .window-title {
    border-bottom: 1px gray solid;
    flex-grow: 1;
  }
}

.tab-container {
  margin: 2px 10px;
}

.icons-group {
  display: flex;
  justify-content: flex-end;
  align-content: center;
  flex-basis: 40px;
}

.button-section {
  display: flex;
  justify-content: space-around;
}

.thumbnail {
  display: flex;
  align-content: center;
  flex-basis: 25px;
}

.icons-group {
  display: flex;
  justify-content: flex-end;
  align-content: center;
  flex-basis: 40px;
}

.container {
  padding: 5px;
  margin: 2px;
  margin-bottom: 10px;

  border-radius: 10px;
  box-shadow: 4px 4px 5px -1px rgba(0, 0, 0, 0.33);

  width: auto;
  background-image: $background_gradient;

  .title {
    color: $secondary_color;
    font-size: 14px;
    flex-basis: auto;
    flex-grow: 1;
    user-select: none;
    margin-left: 25px;
  }

  &:hover {
    cursor: default;
  }
}

.tab-container {
  margin: 2px;
  padding: 5px;
  border: solid 1px transparent;
  width: auto;
  border-radius: 10px;

  &:first-child {
    margin-top: 10px;
  }

  .title {
    font-size: 12px;
    flex-basis: auto;
    flex-grow: 1;
  }
}

.buttons-container {
  &button {
    margin: 5px;
  }

  &.load {
    background-color: green;
  }

  &.delete {
    background-color: red;
  }
}

.accordion-header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
</style>
