<template>
  <div v-if="showItem" class="mt-4">
    <!-- Window name section -->
    <section>
      <label>{{ 'Window ' + windowNumber }}</label>
      <hr class="bg-light" />
    </section>

    <!-- List of tabs section -->
    <section>
      <div v-for="tab in window.tabs" v-bind:key="tab.id" class="d-flex tab-container mb-2">
        <!-- Logo -->
        <span class="d-flex align-items-center" style="flex-basis: 25px;">
          <img v-if="!tab.isLoading" v-bind:src="tab.icon" width="18" height="18" />
          <b-spinner v-if="tab.isLoading" variant="primary" label="Loading" small></b-spinner>
        </span>

        <!-- Tab Title -->
        <span v-text="shortenText(tab.name, defaultTabTitleLen)" class="fontsize-default align-self-center"></span>

        <!-- Action icons -->
        <span class="d-flex align-items-center justify-content-center" style="margin-left: auto;">
          <b-icon icon="music-note-beamed" v-if="tab.soundOn" font-scale="1" v-b-tooltip.hover.ds500 :title="soundOnHoverText"></b-icon>
          <b-button-close class="close-button" text-variant="danger" font-scale="1" @click.stop="closeTab(tab)" v-b-tooltip.hover.ds500 title="Close" />
        </span>
      </div>
    </section>
  </div>
</template>

<script>
import { ChromeTabService, Strings, Log } from '../imports';

const COMPONENT_NAME = 'WindowItem';

export default {
  name: 'WindowItem',
  props: ['window', 'search', 'windowNumber'],
  mixins: [Strings],
  data() {
    return {
      defaultTabTitleLen: 100,
      showItem: true,
      filteredItem: {},
      soundOn: false,
      soundOnHoverText: 'Has sound on',
      numberOfTabs: 0,
    };
  },
  mounted() {
    this.filteredItem = { ...this.window };
    this.numberOfTabs = this.filteredItem.tabs.length;
  },
  methods: {
    closeTab(tab) {
      ChromeTabService.closeTab(tab.id);
    },
    openTab(tab) {
      ChromeTabService.activateTab(tab);
    },
    closeAll() {
      Log.debug(COMPONENT_NAME, `Closing all tabs for ${this.window.name}`);
      ChromeTabService.closeTabs(this.$_.map(this.window.tabs, 'id'));
    },
    applySearch(text) {
      Log.debug(COMPONENT_NAME, `Applying search: ${text}`);
      if (!text || text === '') {
        this.filteredItem = { ...this.window };
        this.showItem = true;
        return;
      }

      let filteredList = { ...this.window };
      filteredList.tabs = [];
      for (let tab of this.window.tabs) {
        if (tab.name.toLowerCase().includes(text.toLowerCase())) {
          filteredList.tabs.push(tab);
        }
      }

      if (filteredList.tabs.length === 0) {
        this.showItem = false;
      } else {
        this.filteredItem = filteredList;
        this.showItem = true;
      }
    },
  },
  watch: {
    search: function(text) {
      this.applySearch(text);
    },
  },
};
</script>

<style lang="scss" scoped>
@import './../../../common/styles/_colors.scss';

.thumbnail {
  display: flex;
  align-content: center;
  flex-basis: 25px;
}

.icons-group {
  display: flex;
  justify-content: flex-end;
  align-content: center;
  flex-basis: 40px;
}

.container {
  padding: 5px;
  margin: 2px;
  margin-bottom: 10px;

  border-radius: 10px;
  box-shadow: 4px 4px 5px -1px rgba(0, 0, 0, 0.33);

  width: auto;
  background-image: $background_gradient;

  .title {
    color: $secondary_color;
    font-size: 14px;
    flex-basis: auto;
    flex-grow: 1;
    user-select: none;
  }

  &:hover {
    cursor: default;
  }
}

.tab-container {
  margin: 5px;
  width: auto;

  &:first-child {
    margin-top: 10px;
  }

  &:hover {
    box-shadow: 0px 0px 5px 1px grey;
    cursor: default;
  }
}

.accordion-header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.close-button {
  font-family: 'Verdana', Geneva, sans-serif;
}

.header-button {
  &:focus {
    box-shadow: none;
  }

  &:hover {
    border-color: transparent;
  }
}

.header-icons {
  margin-left: auto;
  display: flex;
  align-items: center;

  & * {
    margin: 0 2px 0 2px;
  }
}

hr {
  margin-top: 0px !important;
}

.tab-container {
  margin: 5px;
  width: auto;

  &:first-child {
    margin-top: 10px;
  }

  &:hover {
    box-shadow: 0px 0px 5px 1px grey;
    cursor: default;
  }
}
</style>
