<template>
  <span>
    <!-- Sessions -->
    <div v-show="sessions.length > 0">
      <SessionItem v-for="session in sessions" v-bind:key="session.name" v-bind:item="session" v-bind:reload="loadSessions" />
    </div>

    <p class="h5" v-show="sessions.length == 0" style="text-align: center;">No sessions were recored</p>

    <!-- New Session tab -->
    <b-button block variant="outline-primary" size="sm" @click.stop="openNewSessionPage()" v-b-tooltip.hover.bottom title="Add new session">
      <b-icon icon="plus"></b-icon>
    </b-button>
  </span>
</template>

<script>
import { Sessions, ChromeTabService, SessionItem } from './../imports.js';

export default {
  name: 'SessionsView',
  components: {
    SessionItem,
  },
  data() {
    return {
      sessions: [],
    };
  },
  mounted() {
    this.loadSessions();
  },
  methods: {
    openNewSessionPage() {
      ChromeTabService.openNewSessionPage();
    },
    async loadSessions() {
      this.sessions = await Sessions.getAll();
    },
  },
};
</script>

<style lang="scss" scoped>
@import './../../../common/styles/_colors.scss';

$border: $background_middle_ground_color;

.new-session {
  padding: 5px;
  margin: 2px;
  margin-bottom: 10px;
  text-align: center;
  color: $border;

  border: 1px dashed $border;
  border-radius: 10px;

  width: auto;
}
</style>
