<template>
  <div>
    <DomainItem v-for="domain in domains" v-bind:key="domain.id" v-bind:item="domain" :isOpen="openDomainItems[domain.name]" v-bind:search="searchText" />
  </div>
</template>

<script>
import { DomainItem, ChromeTabService, ChromeMessageListener } from '../imports.js';

export default {
  name: 'TabsView',
  components: {
    DomainItem,
  },
  props: ['searchText'],
  data() {
    return {
      domains: [],
      renderOnChange: 0,
      listViewItemClicked: () => null,
      openDomainItems: {},
    };
  },
  created() {
    ChromeMessageListener.on('updateList', () => {
      this.updateList();
    });
  },
  mounted() {
    this.updateList();
  },
  methods: {
    async updateList() {
      this.domains = await ChromeTabService.listOfDomains();
      let storeDomains = this.$store.getters.openDomains;
      for (let sd in storeDomains) {
        this.openDomainItems[sd] = storeDomains[sd];
      }
      this.renderOnChange++;
    },
    onSearchTextChanged(text) {
      this.searchText = text;
    },
  },
};
</script>

<style lang="scss" scoped></style>
