<template>
  <div>
    <WindowItem v-for="(window, index) in windows" v-bind:key="window.id" v-bind:window="window" v-bind:search="searchText" v-bind:windowNumber="index + 1" />
  </div>
</template>

<script>
import { WindowItem, ChromeTabService, ChromeMessageListener } from '../imports.js';

export default {
  name: 'WindowsView',
  components: {
    WindowItem,
  },
  props: ['searchText'],
  data() {
    return {
      windows: [],
      renderOnChange: 0,
    };
  },
  created() {
    ChromeMessageListener.on('updateList', () => {
      this.updateList();
    });
  },
  mounted() {
    this.updateList();
  },
  methods: {
    async updateList() {
      this.windows = await ChromeTabService.listOfWindows();
      this.renderOnChange++;
    },
    onSearchTextChanged(text) {
      this.searchText = text;
    },
  },
};
</script>

<style lang="scss" scoped></style>
